<section class="education">
  <h2>Education</h2>
  <div class="timeline">
    <div class="education-entry" revealOnScroll [direction]=" 'right'" [distance]="'50px'">
      <div class="blur" style="left:70%;top: 100px;"></div>
      <div class="edu-header">
        <h3>{{ education.degree }}</h3>
        <span class="duration">{{ education.graduation }}</span>
      </div>
      <h4>{{ education.university }}</h4>
      <p class="location">Cairo, Egypt</p>
      <ul>
        <li *ngFor="let course of education.coursework">{{ course }}</li>
      </ul>
      <p class="description">{{ education.description }}</p>
    </div>
  </div>
</section>