/* You can add global styles to this file, and also import other style files */
body{
    background-color: #141E31;
    background-image: linear-gradient(315deg, #141E31 0%, #243B55 74%);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

/* ===== Scrollbar Styling ===== */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 6px;
}



::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05); /* subtle track background */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00bfff, #0078d7);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00d0ff, #0088ff);
}
