.experience {
  padding: 60px 10%;
  color: #fff;
}

.experience h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #fff;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experience-card {
  background: #1f2f4d;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  transition: all 0.6s ease-out;
}

.experience-card:hover {
  transform: translateY(-5px) scale(1.02) !important;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp-header h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #00bfff;
}

.duration {
  font-size: 0.9rem;
  color: #ccc;
}

h4 {
  margin: 10px 0 5px 0;
  font-weight: 500;
  color: #f5f5f5;
}

.location {
  font-size: 0.9rem;
  color: #b0b0b0;
}

ul {
  margin-top: 10px;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: #e0e0e0;
}
